<div class="bg-img">
    <div class="container-fluid">
      <div class="home-page">
        <h1 class="title">Welcome to Matching Game</h1>
        <div class="options">
          <button type="button" class="btn btn-secondary" routerLink="/" routerLinkActive="active">Level</button>
          <button type="button" class="btn btn-secondary" routerLink="/" routerLinkActive="active">Leader-Boards</button>
          <button type="button" class="btn btn-secondary" routerLink="/" routerLinkActive="active">Rewards</button>
        </div>
      </div>
    </div>  
</div>