.bg-img-form {

    background-image: url('../../assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
    position: relative;
    overflow: hidden;

    .form-class {
        width: 50%;
        margin-left: 25%;
        margin-top: 5%;
        border: 1px solid rgb(202, 199, 199);
        padding: 20px 60px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        font-weight: bold;
    }

    input[type="text"],
    input[type="number"],
    select {
        width: 100%;
        padding: 8px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    select {
        cursor: pointer;
    }

    .submit-button {
        margin-top: 5px;
        margin-left: 40%;
    }
}

.bg-img {
    background-image: url('../../assets/background.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 650px;
    position: relative;
    overflow: hidden;
}

.home-page {
    text-align: center;
    padding: 10vw;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    box-shadow: rgba(4, 247, 36, 0.35) 0px 5px 15px;
    transition: all 0.3s ease;
}

.home-page:hover {
    background-color: rgba(0, 0, 0, 0.8);
    /* Darken background color on hover */
    transform: translate(-50%, -55%) scale(1.05);
    /* Scale up and slightly shift on hover */
    box-shadow: rgba(4, 247, 36, 0.5) 0px 8px 20px;
    /* Increase shadow on hover */
}

.options {
    margin-top: 20px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.3s ease;
}

.home-page:hover .options {
    opacity: 1;
    transform: translateY(0);
}

.options button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 1px inset white;
    cursor: pointer;
    background-color: transparent;
}

.options button:hover {
    background-color: #646b72;
}

.active {
    background-color: #0056b3;
}

.title {
    font-size: 3rem;
    margin-bottom: 20px;
}

.levels-class{
    margin-top: 20px;
    opacity: 1;
    transform: translateY(20px);
    transition: all 0.3s ease;

    button{
        margin: 5px;
    }

    button:hover {
        background-color: #8f9ead;
    }
}
