<div class="bg-img">
    <div class="container-fluid">
        <div class="home-page">
            <h1 class="text-center">Settings</h1>
            <div class="options">
                <button type="button" class="btn btn-secondary" routerLink="/home" routerLinkActive="active">Back</button>
                <button type="button" class="btn btn-secondary" routerLink="/instructions"
                    routerLinkActive="active">Instructions</button>
                <button type="button" class="btn btn-secondary" routerLink="/about"
                    routerLinkActive="active">About</button>
            </div>
        </div>
    </div>
</div>